.filters-group-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filters-list {
  list-style-type: none;
  padding-inline-start: 0px;
}

.filter-item-container {
  padding: 6px 2px;
}

.filter-heading {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-top: 20px;
}

.filter-label {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Roboto';
  margin: 10px 0px;
  font-weight: 400;
  margin-left: 10px;
}

.filter-group-horizontal-line {
  margin: 1px;
  margin-top: 10px;
  border: 1px solid #596679;
}
